<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="1">
<listeners>
<listener class-name="E2E_Framework.listeners"/>
</listeners>
  <test name="Test1">
       <classes>
        <class name="E2E_Framework.LoginTest"/>
       
    </classes>
  </test> <!-- Test -->
  <test name="Test2">
       <classes>
        <class name="E2E_Framework.HeaderTest"/>
         </classes>
  </test> <!-- Test -->
  <test name="Test3">
       <classes>
        <class name="E2E_Framework.ExcelLoginTest"/>
         </classes>
  </test> <!-- Test -->
 
  <test name="Test4">
   <parameter name="username" value="swarnam98@gmail.com "/>
   <parameter name="password" value="swarna*56"/>
  
    <classes>
       <class name="E2E_Framework.SignOutTest"/>  
         </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
